@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-base: #FAA974;
  --dark-Blue: #003F7D;
  --cyan: #00CBD2;
  --pink-base: #E56F8C;
}

.orange-base {
  color: var(--orange-base);
}

.dark-Blue {
  color: var(--dark-Blue);
}

.cyan {
  color: var(--cyan);
}

.pink-base {
  color: var(--pink-base);
}
