@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

:root {
  --orange-base: #FAA974;
  --dark-Blue: #003F7D;
  --cyan: #00CBD2;
  --pink-base: #E56F8C;
}

.bg-orange-base {
  background-color: var(--orange-base);
}

.bg-dark-Blue {
  background-color: var(--dark-Blue);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-pink-base {
  background-color: var(--pink-base);
}

.text-orange-base {
  color: var(--orange-base);
}

.text-dark-Blue {
  color: var(--dark-Blue);
}

.text-cyan {
  color: var(--cyan);
}

.text-pink-base {
  color: var(--pink-base);
}

body {
  font-family: 'Cantarell', sans-serif;
}

.font{
  font-family: 'Cantarell', sans-serif;
}
/* Homepage classes */

.divBorderBottom{
  border-bottom: 1px solid var(--dark-Blue);
}
.divBorderXl{
  border-top-left-radius: 90px;
}
.divBorder{
  border-radius: 25px 25px 0px 0px;
}

/* navBar classes */

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    display: flex;
}

/* ticket Card classes */

.ticketCard{
  border: #E6E6E6 solid 1px;
  border-radius: 10px;
  box-shadow: 0px 36px 14px rgba(117, 117, 117, 0.01), 
  0px 20px 12px rgba(117, 117, 117, 0.05), 
  0px 9px 9px rgba(117, 117, 117, 0.09), 
  0px 2px 5px rgba(117, 117, 117, 0.1), 
  0px 0px 0px rgba(117, 117, 117, 0.1);
}

.cardExpanded{
  border-top: 1px solid var(--dark-Blue);
}

/*button classes */

.buttonPrimary{
  background-color: var(--orange-base);
  border-radius: 5px;
}

.buttonSecondary{
  background-color: var(--dark-Blue);
  border-radius: 5px;
}

/* Modal classes */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox{
  box-shadow: -57px 199px 83px rgba(0, 0, 0, 0.01), 
  -32px 112px 70px rgba(0, 0, 0, 0.05),
   -14px 50px 52px rgba(0, 0, 0, 0.09), 
  -4px 12px 28px rgba(0, 0, 0, 0.1),
   0px 0px 0px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.modalInput{
  border: #E6E6E6 solid 1px;
  border-radius: 5px;
}

.modalInput:focus-visible{
  border: var(--orange-base) solid 2px;
}


/*Login screen classes */

.bgImg{
  background-size: cover;
  background-image: url("/assets/bg2.jpg");
}
@media (min-width: 328px) and (max-width: 1023px) {
  .bgImg {
    background-image: none;
    background-color: var(--orange-base);
  }
}


.bgSquare{
  background-size: cover;
  background-image: url("/assets/loginImg.jpg");
}
@media (min-width: 320px) and (max-width: 1023px) {
  .bgSquare {
    background-image: none;
    background-color:white;
  }
}

.SquareDiv{
  border-radius: 15px 0px 0px 15px;
}

.loginInput{
  border: #E6E6E6 solid 1px;
  border-radius: 5px;
}

/*progress bar classes */

.outerBar{
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  overflow: hidden;
}

.innerBar{
  border-radius: 10px 0px 0px 10px;
}

/* mobile and tablet classes */
@media (min-width: 320px) and (max-width: 1023px) {
.btnMobile{
 background-color: var(--pink-base);
 color: white;
 border-radius: 5px;
}
}